.interna_sobre {
	background: url("../img/bg-sobre.jpg") no-repeat center;

}

.missao_sobre {
	padding-left: 200px; 
	padding-top: 20px; 
}

.missao_sobre h2 p {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 1em;
	padding-right: 60px;
}

.subtitulo_interno h2{
	font-family: Georgia, "Times New Roman", serif;
	line-height: 30px;
	font-size: 18px;
}
.missao_sobre ul li{
	font-family: Georgia, "Times New Roman", serif;
	line-height: 30px;
	font-size: 18px;

}

.foto_equipe {
	padding-top: 20px;
	padding-bottom: 40px;
}

.subtitulo {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: .1em;
	color: #011;
	text-transform: uppercase;	
	margin-bottom: 15px;
	text-align: center;
	padding-top: 450px;
	display: block;
	text-align: center;
}

.subtitulo:after {
	content:"";
	width: 60px;
	height: 3px;
	background: #011;
	margin: 8px;
	margin-left: 450px;
	display: block;
	text-align: center;
	margin-bottom: 40px;
}

.qualidade:after {
	content: "";
	width: 551px;
	height: 155px;
	display: block;
	background: url("../img/linhas.svg") no-repeat center;
	position: absolute;
	top: 703px;
	right: 203.5px;
	z-index: -1;
}

.qualidade_lista {
	padding-top: 90px;
	overflow: auto; /* clear-fix -- limpar flutuação para o próximo box*/
}
.qualidade_lista li{
	text-align: center;
	padding: 0 60px;
	
}

.qualidade_lista li:nth-child(2n) {
	margin-right: -30px;
	text-align: center;
}

.qualidade_lista li:nth-child(0n) {
	margin-left: -40px;
}
.qualidade_lista li h3{
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	padding-top: 10px;
	text-align: center;
}

.qualidade_lista li h3:after {
	content:"";
	display: block;
	width: 60px;
	height: 3px;
	background: #011;
	margin: 6px auto;
	text-align: center;
}
